@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-serif: "Manrope", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
  color: #ffffff;
  background-color: #ffffff;
}

body {
  @apply bg-[#0b0b0b] text-white font-sans;
}


html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: 80px;
  }
}

/* Colors */
.primary-color {
  @apply bg-[#bc13fe];
}
.primary-text-color {
  @apply text-[#bc13fe];
}

.secondary-color {
  @apply bg-[#5C347D];
}
.secondary-text-color {
  @apply text-[#5C347D] ;
}

.tertiary-color {
  @apply bg-[#00f0ff];
}
.tertiary-text-color {
  @apply text-[#00f0ff];
}

.text-color {
  @apply text-[#787776]
}

.text-color-2 {
  @apply text-[#FAECFF]
}
/*  */