@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Space+Grotesk", sans-serif;
  --font-secondary: "Manrope", sans-serif;
}

body {
  @apply bg-[#1c1b1b] text-white font-primary;
}


html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: 80px;
  }
}

/* Colors */
.primary-color {
  @apply bg-[#bc13fe];
}
.primary-text-color {
  @apply text-[#bc13fe];
}

.secondary-color {
  @apply bg-[#5C347D];
}
.secondary-text-color {
  @apply text-[#5C347D] font-secondary;
}

.tertiary-color {
  @apply bg-[#00f0ff];
}
.tertiary-text-color {
  @apply text-[#00f0ff];
}

.text-color {
  @apply text-[#787776]
}
/*  */